<article>
  <section>
    <h2>{{title}}</h2>
    <h3>Today is {{today}}</h3>
    <ul>
      <li *ngFor='let item of products'>
        {{item.desc}} {{item.price |currency: 'GBP'}}
      </li>
    </ul>
    <button *ngIf='flag' (click)='handleClick()'>Agree</button>
    <aside [hidden]='showFlag'>This is css hidden</aside>
    <img [src]='myURL'/>
    <app-cone></app-cone>
    <app-ctwo></app-ctwo>
    <app-fb></app-fb>
  </section>
</article>