<section>
    <!--The [()] is 2-way binding - it is not very performant-->
    <input type='text' placeholder='Enter ID' [(ngModel)]='id'/>
    <button (click)='resolveImageURL()'>Go</button>
    <hr/>
    <img [src]='fbidUrl'/>
</section>
